

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{background-color:#f9f9f9;line-height:1;text-align:left;font:62.5% Georgia, Times New Roman, Serif;background:#f9f9f9 url(images/bg.png) 0 0 repeat}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
.fl{float:left}
.fr{float:right}
.bl{border-left:1px solid #e8dfd4}
.br{border-right:1px solid #f5f1ec}
.nb{border:0!important}
.focus{border-color:#f86b11!important}
.wrapper{background-color:#fff;width:940px;border-bottom:3px solid #dc881d;margin:0 auto;padding:0 20px 15px}
.middle{padding:0 0 40px}
#content{width:620px;float:left;padding-right:9px}
#sidebar{width:300px;float:right;padding-left:10px}
.header-meta{background-color:#f6f6f8;height:40px;/*background:#fffff8 url(images/bg2.png) 0 0 repeat*/;margin-bottom:20px;border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px}
#top-menu{width:770px;height:30px;float:left; }
#top-menu ul li{font-size:10px;position:relative;z-index:3;float:left;border-left:1px solid #444;margin:6px 0;padding:0 13px}
#top-menu ul li a{color:black;margin:12px 0}
#top-menu ul li.parent a{background:url(images/menu-parent.png) 100% 3px no-repeat;padding-right:15px}
#top-menu ul.sub-menu{position:absolute;left:0;z-index:3;display:block;visibility:hidden;background-color:#3D3239;padding:8px 0}
#top-menu ul.sub-menu a{display:block;color:#fff;background:none!important;white-space:nowrap;padding-right:0!important;margin:0}
#top-menu ul.sub-menu li{border-left:none;float:none;line-height:2;margin:0}
.header-searchform{width:187px;height:27px;float:right;position:relative;background-color:#fff;border:1px solid #E8DFD4;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:30px 5px 5px 0;padding:1px 7px}
.header-searchform input{width:156px;border:0;color:#333;font:12px Arial, Helvetica, sans-serif;vertical-align:middle;margin:0 5px 0 0;padding:6px 0}
.header-searchform button{width:11px;height:11px;border:0;position:absolute;right:7px;top:9px;background:url(images/header-searchform-button.png) 0 0 no-repeat;vertical-align:middle;cursor:pointer;margin:0;padding:0}
.logo-header{display:block;/*max-width:405px;float:left*/ position: absolute;bottom: 0;left: 300px;top:-47px;}
.logo-header.offset{position:relative;left:0}
.logo-header a{color:#3b3b3b;font-size:40px;font-weight:400}
.logo-header a span{display:block;width:935px;height:120px}
.header-adplace{width:468px;float:right;margin-top:30px}
.header-adplace img{display:block;margin-bottom:20px}
.top-content-adplace{margin-bottom:20px;border-bottom:1px solid #e8dfd4}
.top-content-adplace .unspoken-adplace{margin:20px auto}
.menu-navigation{clear:both;border-top:1px solid #DC881D;border-bottom:1px solid #e8dfd4;margin-bottom:20px}

#navigation ul li{font-family:"Trebuchet MS";float:left;font-size:16px;font-weight:700;height:40px;line-height:40px;padding-left:10px;position:relative;text-transform:uppercase}
#navigation ul li a{display:block;white-space:nowrap;color:#3d3239;padding-right:12px}
#navigation ul li.ddhover{background-color:#3d3239;z-index:5}
#navigation ul li.ddhover a.ddhover,#navigation ul li.ddhover a.ddhover:hover{color:#fff;position:relative;z-index:6}
#navigation ul li.parent{padding:0 10px}
#navigation ul li.parent a{background:url(images/menu-parent.png) 100% 16px no-repeat}
#navigation ul li.parent a.ddhover{color:#fff;background:url(images/menu-parent.png) 100% -56px no-repeat;line-height:40px;border-bottom:1px solid #fff}
#navigation ul.sub-menu{position:absolute;left:0;z-index:5;display:block;visibility:hidden;background-color:#3d3239;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px}
#navigation ul.sub-menu li{float:none;height:27px;line-height:27px;font-size:12px;font-weight:400;padding:0 10px!important}
#navigation ul.sub-menu a,#navigation ul.sub-menu a:hover{color:#fff;background:none!important}
#navigation ul.sub-menu a.ddhover{border-bottom:none!important;line-height:27px!important}
#navigation ul.sub-menu li.parent > a{background:url(images/menu-parent2.png) 100% 11px no-repeat!important;padding-right:15px}
#navigation ul.sub-menu ul{background-color:#3d3239;border-radius:0 3px 3px 3px;-moz-border-radius:0 3px 3px;-webkit-border-radius:0 3px 3px 3px}
.block-title{font-size:18px;font-weight:400;height:34px;line-height:34px;color:#3d3239;border-top:2px solid #DC881D;border-bottom:1px solid #e8dfd4}
.block-title a{color:#444; font-weight:bold;padding-right:15px;background:url(images/link-arrow.png) 100% 6px no-repeat}
.block-title a:hover{color:#black;background-position:100% -26px}
.block-title2{font-size:16px;font-weight:400;color:#444;padding-bottom:6px;border-bottom:1px solid #fff}
.latest{padding-bottom:30px}
.slider{background-color:whitesmoke;width:360px;float:left;padding:10px 10px 20px;}
.slider .block-title2 a.prev{background:#d57a2c url(images/arrows.png) 5px 50% no-repeat;right:19px;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px}
.slider .block-title2 a.next{background:#d57a2c url(images/arrows.png) -28px 50% no-repeat;right:0;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0}
.slider .block-title2 a.next:hover,.slider .block-title2 a.prev:hover{background-color:#d94b00}
.slider-inn{overflow:hidden;width:360px}
.slider-inn li{width:360px;float:left}
.slider-item{width:360px;padding-top:10px}
.slider-item-meta{color:orange;font-size:12px;margin-bottom:3px}
.slider-item h2{color:#444;font-size:2.4em;margin-bottom:5px}
.slider-item p{color:#444;font-size:1.4em; line-height: 1.4em}
.latest-news{width:220px;float:right;padding-top:10px}
.latest-news .block-title{border-top:none;height:auto;line-height:normal;padding-bottom:6px}
.latest-news li{border-bottom:1px solid #E8DFD4;padding:10px 0}
.latest-news-meta{color:orange;font-size:10px;margin-bottom:4px}
.category-inn{padding-top:10px}
.category-item{width:300px;float:left;border-right:1px solid #e8dfd4;padding:0 10px 10px 0}
.category-item h2{font-size:18px;color:#3d3239;margin-bottom:5px}
.category-item p{color:#444;font-size:1.4em; line-height: 1.4em}
.category-list{width:299px;padding-left:10px;float:right}
.category-list li{border-bottom:1px solid #e8dfd4;margin:-10px 0 10px;padding:10px 0}
.choice{background-color:#1B9DED;background:#fffff8 url(images/choice.jpg) 0 0 repeat;width:600px;margin-bottom:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:10px}
.choice-inn{width:600px!important;overflow:hidden}
.choice .block-title2{position:relative;width:600px}
.choice .block-title2 a.prev{background:#7b9d9c url(images/arrows.png) 5px 50% no-repeat;right:19px;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px}
.choice .block-title2 a.next{background:#7b9d9c url(images/arrows.png) -28px 50% no-repeat;right:0;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0}
.choice .block-title2 a.next:hover,.choice .block-title2 a.prev:hover{background-color:#439764}
.choice-item{width:135px;float:left;border-right:1px solid #d9e7e6;margin:10px 10px 0 0;padding:0 9px 10px 0}
.choice-item h2{font-size:14px;font-weight:400;color:#fff}
.choice-photo{margin-bottom:8px;display:block}
.choice-cat{color:#fff;margin-bottom:5px}
.categories{width:620px;overflow:hidden;margin-bottom:30px}
.catlist-item{border-bottom:1px solid #e8dfd4;padding:8px 0}
.catlist-item h2{font-size:14px;font-weight:400;margin-bottom:5px}
.catlist-item p{font-size:12px}
/*.video-item-container{width:460px;float:left;overflow:hidden;padding-right:10px;border-right:1px solid #e8dfd4}
.video-item{width:460px;float:left;overflow:hidden;display:none}
.video-item h2{font-size:21px;font-weight:400;margin-bottom:5px}
.videolist{width:140px;float:right;padding-left:8px}
.videolist-inn{width:140px;overflow:hidden;padding:7px 0}
.videolist .prev,.videolist .next{display:block;height:21px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0 3px}
.videolist .prev{background:#e8dfd4 url(images/arrows.png) 50% 8px no-repeat}
.videolist .next{background:#e8dfd4 url(images/arrows.png) 50% -26px no-repeat}
.videolist-item{width:140px;position:relative;z-index:1;vertical-align:bottom;padding:7px 0}
.videolist-thumb{width:134px;height:74px;position:relative;left:3px}
.videolist-play{display:block;width:134px;height:74px;position:absolute;top:0;left:0;background:url(images/videolist-play.png) 50% 50% no-repeat}
.videolist-play:hover{top:-3px;left:-3px;border:3px solid #f86b11;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.videolist-play.active{background-image:url(images/videolist-play-active.png)}*/
.single .hentry-content{width:460px;overflow:hidden}
.single .hentry-meta{padding-bottom:15px;border-bottom:2px solid #DC881D;margin-bottom:5px}
.single .hentry-meta h1{color:#444;font-size:2.9em;line-height:33px;font-weight:700;padding-bottom:15px}
.single .hentry-middle{width:460px;float:right}
.single .wide{padding-top:15px}
.single .wide img{max-width:620px;display:block}
.single .wide embed,.single .wide object{max-width:620px}
.single .hentry-content embed,.post .hentry-content object{max-width:460px;display:block}
.single .hentry-content img{max-width:460px}
.single .hentry-content .wp-caption{max-width:460px!important}
.hentry-content{font-size:1.5em;line-height:1.5;color:#444;padding-top:15px}
.hentry-content h1{font-size:30px}
.hentry-content h2{font-size:26px}
.hentry-content h3{font-size:22px}
.hentry-content blockquote{background:url(images/blockquote.png) 0 3px no-repeat;font-size:16px;font-weight:400;padding:1px 0 1px 35px}
.hentry-content #submit{border:none;background-color:#3d3239;color:#fff;font:normal 14px Arial, Helvetica, sans-serif;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;margin:10px 0 0;padding:10px 15px}
.hentry-content img{height:auto;margin:15px 0}
.hentry-content .alignnone,.hentry-content img.alignnone{clear:both;display:block;margin-bottom:15px}
.hentry-content .alignright,.hentry-content img.alignright{display:inline;float:right;margin:4px 0 0 15px}
.hentry-content .aligncenter,.hentry-content img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
.hentry-content .wp-caption{background:#f5f5f5;margin-bottom:15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.hentry-content .wp-caption img{margin:0!important}
.hentry-content .wp-caption p.wp-caption-text{color:#3d3239;font-size:11px;margin-bottom:0;padding:3px 10px 10px}
.hentry-content .wp-smiley{border:none!important;margin:0}
.hentry-content .gallery{margin:0 auto 18px}
.single .hentry-content .gallery{width:480px}
.hentry-content .gallery .gallery-item{float:left;text-align:center;width:140px!important;margin:0 20px 20px 0 !important}
.hentry-content .gallery .gallery-item img{border:none!important;width:140px;display:block;margin:0}
.hentry-content .gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 10px}
.hentry-content .attachment img{display:block;max-width:460px}
.hentry-content .unspoken-button,.hentry-content .unspoken-button:hover{display:inline-block;background:#F50065;color:#fff;font-weight:700;text-decoration:none!important;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0 10px}
.button-small{font-size:12px;padding:5px 10px}
.button-medium{font-size:16px;padding:5px 10px}
.button-big{font-size:18px;padding:5px 10px}
.unspoken-box{margin-bottom:15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:7px 10px}
.unspoken-list ul,.unspoken-list ol{list-style:none;margin-left:0}
.unspoken-list li{padding-left:20px}
.unspoken-list.list-tick li{background:url(images/list.png) 0 4px no-repeat}
.unspoken-list.list-cross li{background:url(images/list.png) 0 -61px no-repeat}
.unspoken-social{display:inline-block;margin:0 10px 10px!important}
.unspoken-twocol-one{width:48%;float:left;position:relative;margin:0 4% 15px 0}
.unspoken-fourcol-one{width:22%;float:left;position:relative;margin:0 4% 15px 0}
.single .hentry-like,.single .hentry-tags{font-size:13px;color:#898989;margin-bottom:15px}
.single .page-link{font-size:13px;color:#898989;margin-bottom:15px;padding-top:15px;border-top:1px solid #e8dfd4}
.single .hentry-navigation{border-top:1px solid #e8dfd4;border-bottom:1px solid #e8dfd4;margin-bottom:20px;padding:10px 0}
.single .hentry-navigation a{display:block;width:45%}
.single .hentry-navigation a em{font-size:11px;color:#968268;font-style:normal;display:block}
.single .hentry-navigation-prev{padding-left:15px;background:url(images/previouspostslink.png) 0 50% no-repeat;float:left}
.single .hentry-navigation-next{padding-right:15px;background:url(images/nextpostslink.png) 100% 50% no-repeat;text-align:right;float:right}
.single .hentry-navigation-line{width:1px;border-left:1px solid #e8dfd4;height:100%;position:absolute;top:0;left:50%}
.recommended-item{border-right:1px solid #e5e5e5;float:left;width:140px;margin:10px 10px 0 0;padding:0 9px 10px 0}
.recommended .nb{margin-right:0;padding-right:0}
.single .hentry-sidebar{width:140px;float:left;padding-top:15px}
.single .hentry-sidebar h6{font-size:14px;font-weight:400;padding-bottom:5px;border-bottom:1px solid #e8dfd4}
.single .hentry-sidebar .aside{font-size:11px;line-height:1.5;color:#3d3239;margin-bottom:20px}
.single .hentry-sidebar .aside img{max-width:140px;display:block;margin:10px 0}
.single .hentry-widget{margin-bottom:20px}
.single .hentry-author-meta img{display:block;margin-right:10px;float:left}
.single .hentry-author-meta p{font-size:12px;font-weight:400;margin-bottom:10px}
.single .hentry-author-about{font-size:11px;line-height:1.5;color:#3d3239;padding-bottom:10px}
.single .hentry-similar li{font-size:11px;line-height:1.5;border-bottom:1px solid #e8dfd4;padding:8px 0}
.single .hentry-share li{font-size:11px;border-bottom:1px solid #e8dfd4;padding:10px 0}
.single .hentry-share li a{color:#DC881D;background-image:url(images/icons.png);background-repeat:no-repeat;padding:2px 0 2px 26px}
.single .hentry-share .feed a{background-position:0 0}
.single .hentry-share .twitter a{background-position:0 -36px}
.single .hentry-share .fb a{background-position:0 -72px}
.single .hentry-share .behance a{background-position:0 -108px}
.single .hentry-share .delicious a{background-position:0 -144px}
.single .hentry-share .flickr a{background-position:0 -180px}
.single .hentry-share .stumbleupon a{background-position:0 -216px}
.single .hentry-share .tumblr a{background-position:0 -252px}
.single .hentry-share .vimeo a{background-position:0 -288px}
.single .hentry-share .youtube a{background-position:0 -324px}
.single .hentry-share .dribbble a{background-position:0 -360px}
.single .hentry-share .blogger a{background-position:0 -396px}
.single .hentry-share .posterous a{background-position:0 -432px}
.single .hentry-share .devianart a{background-position:0 -468px}
.single .hentry-share .lastfm a{background-position:0 -504px}
.single .hentry-share .linkedin a{background-position:0 -540px}
.single .hentry-share .skype a{background-position:0 -576px}
.single .hentry-share .digg a{background-position:0 -612px}
#sharebox{position:absolute;width:60px;margin-left:-92px;background-color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;z-index:1;padding:0 5px}
.share-item{text-align:center;margin:7px 0}
.page .hentry-meta{border-bottom:2px solid #DC881D;margin-bottom:20px}
.page .hentry-meta h1{color:#3d3239;padding-bottom:10px;font-size:21px;font-weight:400;line-height:21px}
.page .hentry-content{padding-top:0;font-size:13px;line-height:1.5;color:#3d3239}
#mode{display:block;width:35px;height:14px;background:url(images/mode.png) 0 0 no-repeat;position:absolute;bottom:13px;right:0;overflow:hidden}
#mode.flip{background-position:0 -14px!important}
.loop{width:620px;overflow:hidden;position:relative;margin-bottom:30px}
.loop .hentry .post-meta{font-size:12px;color:orange;margin-bottom:4px}
.loop .hentry h2{font-size:1.9em;font-weight:700;color:#444;margin-bottom:8px}
.loop .hentry p{font-size:1.4em;line-height:1.4;color:#444; margin-top:15px;}
.list .hentry{width:620px;border-top:1px solid #e8dfd4;float:none;padding:20px 0}
.list .hentry .post-thumb img{display:block;width:300px;height:180px;float:left;margin:0 20px 0 0}
.grid .hentry{width:300px;border-top:1px solid #e8dfd4;margin-right:20px;float:left;padding:20px 0}
.grid .hentry .post-thumb img{display:block;width:300px;height:180px;margin-bottom:8px}
.grid .grid-line{width:1px;height:100%;border-left:1px solid #e8dfd4;position:absolute;left:50%;top:20px}
.not-found{padding-top:20px}
.default{clear:both;border-top:1px solid #3d3239;padding:10px}
.default .previouspostslink,.default .nextpostslink{display:inline-block;width:119px;font-size:14px;font-weight:400;color:#3d3239}
.default .previouspostslink{float:left;background:url(images/previouspostslink.png) 0 50% no-repeat;border-right:1px solid #e8dfd4;padding:10px 0 10px 30px}
.default .nextpostslink{float:right;text-align:right;background:url(images/nextpostslink.png) 100% 50% no-repeat;border-left:1px solid #e8dfd4;padding:10px 30px 10px 0}
.wp-pagenavi{padding-top:9px;text-align:center;margin:0 170px}
.wp-pagenavi a,.wp-pagenavi span{font-size:12px;display:inline-block;margin:0 3px;padding:2px 6px}
.wp-pagenavi .current{background:#3d3239;color:#fff;font-weight:400;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.fetch{clear:both}
.fetch .nextpostslink{display:block;height:40px;line-height:40px;font-size:14px;font-weight:400;color:#3d3239;text-align:center;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.fetch .nextpostslink:hover{background:#f86b11;color:#fff}
.comments-inn{border-top:1px solid #e8dfd4;margin-bottom:40px}
#comments .block-title{border-bottom:0;position:relative;margin:40px 0 0 160px}
#comments .block-title a{color:#DC881D;font-size:12px;font-weight:400;background:none;position:absolute;top:0;right:0;padding:0}
.comment{border-top:1px solid #e8dfd4;padding:10px 0}
.comment td{vertical-align:top}
.comment-meta{padding-right:20px;width:70px;overflow:hidden;font-size:11px;color:#968268}
.comment-author{font-weight:400;color:#3d3239}
.reply{width:60px}
.reply a{display:block;margin-top:5px;border:1px solid #e8dfd4;background:url(images/reply.png) 6px 7px no-repeat;font-size:11px;color:#968268;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px 5px 5px 20px}
.reply a:hover{background-color:#f86b11;background-position:6px -22px;border:1px solid #f86b11;color:#fff}
.comments .children{padding-left:80px;background:url(images/children.png) 27px 20px no-repeat}
.pings{margin-left:160px;list-style:decimal;padding:20px 0}
.pings li{font-size:12px;color:#968268}
.navigation{border-top:1px solid #e8dfd4;border-bottom:1px solid #e8dfd4;font-size:12px;margin:20px 0;padding:10px 0}
.nav-previous{float:left;width:45%}
.nav-next{float:right;width:45%;text-align:right}
#respond{margin-top:30px}
#respond td{vertical-align:top;border-bottom:1px solid #e8dfd4;font-size:12px;color:#3d3239;padding:10px 0}
#respond #submit{border:none;background-color:#3d3239;color:#fff;font:normal 14px Arial, Helvetica, sans-serif;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;margin:0;padding:10px 15px}
#respond .submit{padding-left:15px}
#respond .submit span{font-size:14px;font-weight:400;margin-left:20px}
.children #respond{margin-top:0}
.logged-in-as{margin:8px 0 0 15px}
.commentform-extra{font-size:12px;line-height:1.5;color:#3d3239;padding-left:24%}
#respond .message{font-size:12px;padding:15px 0 0 160px}
.nopassword,.nocomments{font-size:12px;color:#3d3239;margin:40px 0 40px 160px}
.comment-text{font-size:12px;line-height:1.5;color:#3d3239;margin-bottom:10px}
.comment-text h1{font-size:20px}
.comment-text h3{font-size:17px}
.comment-text h5{font-size:15px}
.comment-text blockquote{background:url(images/blockquote.png) 0 3px no-repeat;font-size:12px;font-weight:400;padding:1px 0 1px 35px}
.widget{width:300px;overflow:hidden;margin-bottom:30px}
.widget-title{font-size:16px;font-weight:400;height:34px;line-height:34px;margin-bottom:6px;color:#3d3239;border-top:2px solid #dc881d;border-bottom:1px solid #e8dfd4}
.widget-title a{color:#3d3239!important;padding-right:15px;background:url(images/link-arrow.png) 100% 4px no-repeat}
.widget-title a:hover{color:#f86b11!important;background-position:100% -28px}
.widget ul ul,.widget ul ol,.widget ol ol,.widget ol ul{margin-left:20px}
.widget li{color:#2a2a21;font-size:12px;line-height:1.8}
.tabs-list{width:305px;border-bottom:1px solid #3d3239;padding-top:5px}
.tabs-list li{display:inline-block;font-size:12px;font-weight:400;margin-right:3px;color:#DC881D;background-color:#faf8f5;cursor:pointer;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;vertical-align:bottom;padding:5px 10px 3px}
.tabs-list li.tabs-current{background-color:#3d3239;color:#fff}
.hentry-thumb{line-height:normal!important;border-bottom:1px solid #E8DFD4;padding:8px 0}
.hentry-thumb-image img{width:50px;height:50px;float:left;margin:2px 0}
.hentry-thumb-meta{display:block;color:#968268;font-size:10px;margin-bottom:3px}
.hentry-thumb-title{display:block;font-size:12px}
.hentry-thumb-title span{color:#3b3b3b}
.hentry-thumb .offset{padding-left:60px}
.unspoken-getconnected ul{width:316px;padding:0}
.unspoken-getconnected li{display:block;width:142px;float:left;margin-right:16px;line-height:normal;border-bottom:1px solid #d6d6d6;padding:6px 0}
.unspoken-getconnected a{display:block;font-size:14px;font-weight:400;color:#DC881D;background-image:url(images/icons.png);background-repeat:no-repeat;padding:5px 0 5px 26px}
.unspoken-getconnected .feed a{background-position:0 4px}
.unspoken-getconnected .twitter a{background-position:0 -32px}
.unspoken-getconnected .fb a{background-position:0 -68px}
.unspoken-getconnected .behance a{background-position:0 -104px}
.unspoken-getconnected .delicious a{background-position:0 -140px}
.unspoken-getconnected .flickr a{background-position:0 -176px}
.unspoken-getconnected .stumbleupon a{background-position:0 -212px}
.unspoken-getconnected .tumblr a{background-position:0 -248px}
.unspoken-getconnected .vimeo a{background-position:0 -284px}
.unspoken-getconnected .youtube a{background-position:0 -320px}
.unspoken-getconnected .dribbble a{background-position:0 -356px}
.unspoken-getconnected .blogger a{background-position:0 -392px}
.unspoken-getconnected .posterous a{background-position:0 -428px}
.unspoken-getconnected .devianart a{background-position:0 -464px}
.unspoken-getconnected .lastfm a{background-position:0 -500px}
.unspoken-getconnected .linkedin a{background-position:0 -536px}
.unspoken-getconnected .skype a{background-position:0 -572px}
.unspoken-twitter ul{padding:0}
.unspoken-twitter .tweet{border-bottom:1px solid #e8dfd4;padding:6px 0}
.unspoken-twitter .tweet-date{width:70px;float:left;font-size:10px;color:#898989}
.unspoken-twitter .tweet-text{padding-left:80px;font-size:12px;color:#3d3239}
.unspoken-flickr li{display:inline-block;width:85px;height:85px;margin:10px 19px 5px 0}
.unspoken-flickr li a img{display:block;width:80px;height:80px;border:1px solid #E8DFD4;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px}
.unspoken-flickr li a:hover img{border-color:#f86b11}
.unspoken_archive li{display:block;float:left;width:115px;margin-right:16px;border-bottom:1px solid #e8dfd4;line-height:normal;position:relative;padding:10px 25px 10px 0}
.unspoken_archive a{color:#DC881D;font-size:12px}
.unspoken_archive li span{font-size:10px;color:#898989;position:absolute;right:0;top:11px}
#wp-calendar caption{color:#3b3b3b;font-size:13px;padding-bottom:5px}
#wp-calendar th,#wp-calendar td{color:#3b3b3b;font-size:13px;text-align:center}
#wp-calendar th{background:#f1f1f1;padding:5px 0}
#wp-calendar td{padding:7px}
#wp-calendar #today{font-weight:400;background:#f7f7f7}
a.rsswidget img{vertical-align:-1px}
.tagcloud a{line-height:1.5}
.textwidget,.unspoken-adplace{font-size:13px;line-height:1.5;color:#2a2a21}
.unspoken-adplace .alignnone{clear:both;display:block}
.unspoken-adplace .alignright{display:inline;float:right;text-align:right;margin:4px 0 0 15px}
.unspoken-adplace .aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;text-align:center}
.widget_search label{font-size:12px;color:#2a2a21;vertical-align:middle}
.widget_search #s{width:170px;border:1px solid #e8dfd4;vertical-align:middle;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px}
.widget_search #searchsubmit{border:none;background-color:#3d3239;color:#fff;vertical-align:middle;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0;padding:5px 6px}
.widget_search #searchsubmit:hover{background:#f86b11}
.widget_recent_entries li,.widget_rss li,.widget_recent_comments li,.widget_meta li,.widget_links li{line-height:1.5;border-bottom:1px solid #e8dfd4;margin:0;padding:8px 0}
.error404 p{font-size:13px!important;margin-bottom:15px}
.archive .title{border-bottom:2px solid #DC881D;font-size:21px;font-weight:400;line-height:21px;color:#3d3239;position:relative;padding:0 45px 10px 0}
#mainposts{margin-bottom:20px;width:620px;height:380px}
#mainposts li{z-index:2;position:relative}
#mainposts .prev,#mainposts .next{display:block;height:18px;width:18px;position:absolute;top:20px;z-index:3}
#mainposts .prev{left:20px;background:#303030 url(images/arrows.png) 5px 50% no-repeat;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px}
#mainposts .next{left:39px;background:#303030 url(images/arrows.png) -28px 50% no-repeat;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0}
.mainpost{width:620px;height:380px;position:relative}
.mainpost-container{width:420px;height:260px;position:absolute;bottom:20px;left:20px}
.mainpost-container .bg{background-color:#13140e;opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);width:420px;height:260px;position:absolute;top:0;left:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.mainpost-data{position:relative;z-index:1;padding:20px}
.mainpost-meta{font-size:11px;margin-bottom:10px}
.mainpost-data h2{font-size:24px;font-weight:400;margin-bottom:8px}
.mainpost-data p{font-size:12px;line-height:1.3}
.page-template-template-tags-php h4{font-weight:400;text-transform:uppercase}
.page-template-template-tags-php .hentry-content ul{list-style:none;margin:0 0 15px}
.page-template-template-tags-php .hentry-content ul li{color:#898989}
#contactform{border-top:1px solid #e8dfd4;padding-bottom:15px}
#contactform td{vertical-align:top;border-bottom:1px solid #e8dfd4;font-size:12px;color:#3d3239;padding:15px 0}
#contactform #submit{border:none;background-color:#3d3239;color:#fff;font:normal 14px Arial, Helvetica, sans-serif;margin-left:15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;padding:10px 15px}
#contactform .error{font-size:12px;color:#f86b11;margin:5px 0 0 15px}
#contactform .message{font-size:14px;font-weight:400;padding:15px 0 0 158px}
.page-template-template-wide-php #content{width:100%;padding-right:0;border:none}
.bottom-widgetarea{margin-bottom:20px;width:940px;overflow:hidden}
.bottom-widgetarea-inn{width:960px}
.bottom-widgetarea .widget{float:left;margin-right:20px}
.footer{background-color:whitesmoke;border-bottom:1px solid #e8dfd4;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;padding:10px 0}
.menu-footer{border-bottom:1px solid #E8DFD4;border-top:2px solid #DC881D;margin-bottom:20px}
.menu-footer ul li{float:left;font-size:16px;font-weight:400;margin:0 10px 0 -10px;padding:12px 10px}
.menu-footer ul li a{color:#3D3239}
.menu-footer ul li a:hover{color:#F86B11}
.footer-leftpart{width:202px;padding-right:9px;float:left}
.logo-footer{display:block;width:202px;padding-bottom:14px;color:#fff;font-size:24px}
.logo-footer span{display:block;width:202px;height:26px}
.footer-middlepart{width:417px;float:left;padding:0 10px 10px}
.footer-searchform{height:40px;margin-bottom:5px}
.footer-searchform input{width:405px;font-size:16px;font-weight:400;color:#3d3239;border:1px solid #e8dfd4;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0;padding:4px 5px}
.footer-tags p{font-size:12px;font-weight:400;color:#3D3239;margin-bottom:5px}
.footer-tags a{font-size:11px;color:#DC881D}
.footer-linkset{width:200px;float:left;border-left:1px solid #E8DFD4;font-size:12px;padding:53px 30px 10px}
.copyrights{width:775px;float:left;font-size:11px;color:#3d3239;padding:18px 0}
.credits{width:145px;float:right;text-align:right;font-size:11px;color:#3d3239;padding:18px 0}
#voodoo-reg{width:960px;padding-bottom:3px;margin:0 auto}
#voodoo-reg a{text-transform:uppercase;color:#00ACFF}
#voodoo-reg a:hover{text-transform:uppercase;text-decoration:underline;color:#137B89}
ul#menu-top-menu li#menu-item-20135{color:white;font-weight:bold;background:#FECA20;display:block;padding:5px}
ul#menu-top-menu li#menu-item-20135 a{color:#000;font-weight:700}
/*a[href$=.rar]{padding-left:32px;background:url(icons/rar.png) no-repeat center left;float:left;margin-bottom:45px;margin-right:2px}*/
p#breadcrumbs{margin-top:-14px;padding-bottom:17px}
.mowidget{background-color:#f7df96}
.marquee{width:750px;overflow:hidden;white-space:nowrap;box-sizing:border-box;animation:marquee 50s linear infinite;margin:0 auto}
.marquee:hover{animation-play-state:paused}
100%{text-indent:-105em}
.microsoft{padding-left:1.5em;position:relative;font:16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif}
.microsoft span{color:red}
.vanity{color:#333;text-align:center;font:.75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif}
.vanity a,.microsoft a{color:#1570A6;transition:color .5s;text-decoration:none}
.vanity a:hover,.microsoft a:hover{color:#F65314}
#navigation ul.sub-menu a:hover{color:#f86b11!important}
.unspoken-button{display:inline-block;font-weight:400;text-decoration:none!important;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0 10px}
ins,a,a:hover{text-decoration:none}
.clear:after,.share-item:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a img,#top-menu ul li.first,.top-content-adplace .unspoken-banner:hover{border:none}
#top-menu ul li.current-menu-item,.hentry-content dt,.comment-text dt{font-weight:400}
#top-menu ul li a:hover,#navigation ul li a:hover,.latest-news-meta a:hover,.latest-news-title a:hover,.category-item-meta a:hover,.category-item h2 a:hover,.category-list-meta a:hover,.category-list-title a:hover,.catlist-item a:hover,.video-item-meta a:hover,.video-item h2 a:hover,.single .hentry-meta a:hover,.hentry-content a:hover,.single .hentry-footer a:hover,.single .hentry-sidebar a:hover,.single .hentry-share a:hover,.page .hentry-meta a:hover,.page .hentry-content a:hover,.loop .hentry a:hover,.loop .hentry .post-meta a:hover,.default .previouspostslink:hover,.default .nextpostslink:hover,.wp-pagenavi a:hover,#comments .block-title a:hover,.comment-meta a:hover,.navigation a:hover,#respond a:hover,.comment-text a:hover,.widget a:hover,.unspoken-getconnected a:hover,.unspoken-twitter .tweet-text a:hover,.unspoken_archive a:hover,#wp-calendar a:hover,.textwidget a:hover,.unspoken-adplace a:hover,.error404 a:hover,#contactform .message a:hover,.footer-tags a:hover,.footer-linkset a:hover,.copyrights a:hover,.credits a:hover{color:black}
.header-middle,.catlist .block-title,.video .block-title,.single .hentry-author h6,.single .hentry-author-meta,#respond .submit div,.textwidget p,.unspoken-adplace p{margin-bottom:10px}
#navigation ul li ul li:hover,#navigation ul li ul li.ddhover,#navigation ul.sub-menu ul li:hover,#navigation ul.sub-menu ul li.ddhover,#navigation ul.sub-menu ul li ul,#navigation ul.sub-menu ul li ul li:hover,#navigation ul.sub-menu ul li ul li.ddhover{background-color:#3d3239}
#content .unspoken-adplace,.category,.video{margin-bottom:30px}
.slider .block-title2,.single .hentry-navigation-inn{position:relative}
.slider .block-title2 a.prev,.slider .block-title2 a.next,.choice .block-title2 a.prev,.choice .block-title2 a.next{position:absolute;width:18px;height:18px}
.slider-inn ul,.choice-inn ul{width:10000px}
.slider-photo,.category-item-photo,.catlist-item-photo,.video-item-photo,.widget_archive .widget-title{margin-bottom:8px}
.slider-photo a,.slider-photo img,.category-item-photo a,.category-item-photo img,.choice-photo img,.catlist-item-photo,.catlist-item-photo img,.video-item-photo,.video-item-photo img,.video-item.active,.recommended-photo,.recommended-photo img,.tabs-box.visible,.unspoken-flickr li a,.mainpost img,.logo-footer,.logo-footer img,.logo-header img{display:block}
.slider-item-meta a,.slider-item h2 a,.choice-item h2 a,.choice-cat a,.mainpost-data,.mainpost-data a,.footer-tags{color:#444}
.slider-item-meta a:hover,.slider-item h2 a:hover,.choice-item h2 a:hover,.choice-cat a:hover,.hentry-thumb-meta a:hover,.mainpost-meta a:hover,.mainpost-data h2 a:hover{color:black;}
.latest-news-meta a,.category-item-meta a,.category-list-meta a,.video-item-meta a,.loop .hentry .post-meta a,.hentry-thumb-meta a{color:#968268}
.latest-news-title,.category-list-title,.single .hentry-navigation a span{font-size:1.4em;font-weight:400}
.latest-news-title a,.category-list-title a,.catlist-item a,.single .hentry-meta a,.hentry-content a,.single .hentry-footer a,.single .hentry-sidebar a,.page .hentry-meta a,.page .hentry-content a,.wp-pagenavi a,.comment-meta a,.navigation a,#respond a,.comment-text a,.widget a,.unspoken-twitter .tweet-text a,#wp-calendar a,.textwidget a,.unspoken-adplace a,.error404 a,#contactform .message a,.footer-linkset a,.copyrights a,.credits a{color:#444;font-weight: 700}
.category-item-meta,.category-list-meta,.video-item-meta{color:orange;font-size:10px;margin-bottom:3px}
.category-item h2 a,.video-item h2 a,.loop .hentry a{color:#444}
.categories-inn,#loop,.page-template-template-gallery-php .gallery,.page-template-template-tags-php .hentry-content .tags{width:640px}
.catlist,.page-template-template-tags-php .hentry-content .column{width:140px;float:left;margin-right:20px}
.catlist-item-date,.recommended-item p{font-size:10px;color:#968268;margin-bottom:3px}
.categories .first,.page-template .hentry-content{padding-top:0}
.video-item p,.single .hentry-meta-data,.page .hentry-meta-data{font-size:13px;color:orange;}
.videolist .prev:hover,.videolist .next:hover,#mainposts .prev:hover,#mainposts .next:hover{background-color:#f86b11}
.hentry-content h1,.hentry-content h2,.hentry-content h3,.hentry-content h4,.hentry-content h5,.hentry-content h6,.comment-text h1,.comment-text h2,.comment-text h3,.comment-text h4,.comment-text h5,.comment-text h6{font-weight:400;margin-bottom:15px}
.hentry-content h4,.comment-text h2{font-size:18px}
.hentry-content h5,.comment-text h4{font-size:16px}
.hentry-content h6,.recommended-item h2,.comment-text h6{font-size:14px}
.hentry-content p,.hentry-content dl,.hentry-content dd,.page .hentry-content p,.comment-text p,.comment-text dl,.comment-text dd{margin-bottom:15px}
.hentry-content ul,.comment-text ul{list-style:square;margin:0 0 15px 16px}
.hentry-content ol,.comment-text ol{list-style:decimal;margin:0 0 15px 19px}
.hentry-content ul ul,.hentry-content ol ul,.comment-text ul ul,.comment-text ol ul{margin:0 0 0 35px}
.hentry-content ol ol,.hentry-content ul ol,.comment-text ol ol,.comment-text ul ol{list-style:lower-alpha;margin:0 0 0 35px}
.hentry-content li,.comment-text li{margin:3px 0}
.hentry-content table,.comment-text table{border:1px solid #e7e7e7;text-align:left;width:100%;margin:0 -1px 24px 0}
.hentry-content tr th,.hentry-content thead th,.comment-text tr th,.comment-text thead th{color:#888;font-size:12px;font-weight:400;line-height:18px;padding:9px 24px}
.hentry-content tr td,.comment-text tr td{border-top:1px solid #e7e7e7;padding:6px 24px}
.hentry-content big,.comment-text big{font-size:131.25%}
.hentry-content pre,.comment-text pre{margin-bottom:15px;background-color:#f7f7f7;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:20px}
.hentry-content sup,.hentry-content sub,.comment-text sup,.comment-text sub{height:0;line-height:1;position:relative;vertical-align:baseline;font-size:10px}
.hentry-content sup,.comment-text sup{bottom:5px}
.hentry-content sub,.comment-text sub{top:3px}
.hentry-content #submit:hover,#respond #submit:hover,.tabs-list li:hover,#contactform #submit:hover{background-color:#f86b11;color:#fff}
.hentry-content .aside,.hentry-content .wide,.hentry-content .gallery br+br,.no-title,.tabs-box{display:none}
.hentry-content .alignleft,.hentry-content img.alignleft,.unspoken-adplace .alignleft{display:inline;float:left;margin:4px 15px 0 0}
.hentry-content .wp-caption.alignleft,.hentry-content .wp-caption.alignright,.unspoken-tabs .widget,.unspoken_archive .widget-title,.widget_recent_entries .widget-title,.widget_rss .widget-title,.widget_recent_comments .widget-title,.widget_meta .widget-title,.widget_links .widget-title,.unspoken-getconnected .widget-title,.unspoken-twitter .widget-title,.unspoken-flickr .widget-title,.unspoken_recent_posts .widget-title{margin-bottom:0}
.hentry-content .gallery dl,.children #respond .block-title{margin:0}
.hentry-content .unspoken-button.alignnone,.hentry-content .unspoken-button.aligncenter,.unspoken-button.alignnone,.unspoken-button.aligncenter{margin:0 0 15px}
.hentry-content .unspoken-button.aligncenter,.unspoken-button.aligncenter{text-align:center}
.unspoken-twocol-one.last,.unspoken-fourcol-one.last{clear:right;margin-right:0!important}
.single .hentry-navigation-prev:hover,.default .previouspostslink:hover{background-image:url(images/previouspostslink-hover.png)}
.single .hentry-navigation-next:hover,.default .nextpostslink:hover{background-image:url(images/nextpostslink-hover.png)}
.recommended-photo,.comment-meta p,.pings .comment-text,.mowidgettitle{margin-bottom:5px}
.single .hentry-sidebar .unspoken-adplace,.single .hentry-author-meta span{font-size:11px}
.page #comments .block-title,.page .nopassword,.page .nocomments{margin-left:0}
#respond table,#wp-calendar,#contactform table{width:100%}
#respond .label,#contactform .label{text-align:right}
#respond td label,#respond td span,#contactform td label,#contactform td span{vertical-align:-6px}
#respond td span,#contactform td span{margin-left:15px;color:#968268}
#respond td p,#contactform td p{border:1px solid #e8dfd4;margin-left:15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px}
#respond td p.alert,#contactform td p.alert{color:#ee2d24;border:none;display:none}
#respond td p.alert-field,#contactform td p.alert-field{border-color:#ee2d24}
#respond td input.input,#respond td textarea,#contactform td input.input,#contactform td textarea{width:100%;border:none;font:12px Arial, Helvetica, sans-serif;margin:0;padding:0}
#respond .submit div input,#respond .submit div span,#respond .submit div a,#contactform .submit input,#contactform .submit a{vertical-align:middle}
.unspoken-flickr ul,.unspoken_archive ul{width:316px}
.unspoken-tabs .tagcloud,.unspoken-tabs .textwidget{padding-top:6px}
.page-template-template-gallery-php .hentry-content,.page-template-template-tags-php .hentry-content{width:620px;overflow:hidden}
#menu-item-17862{color:white;padding:8px;border:1px solid gray;}

#menu-item-17862 a{color:white;}

#menu-item-17862 li a:hover{color:white;}
.warning{background:#e41414;padding:8px;border:1px solid gray;}

#Stage_testoem_2{width:250px; height:250px;}


.animated{-webkit-animation-duration: .5s;
-moz-animation-duration: .5s;
-o-animation-duration: .5s;
animation-duration: .5s;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}
.slideDown{position:fixed;z-index: 12;background-color: white;opacity: .95;border-bottom: 5px solid #444;
  width: 948px;
  
  left: 50%;
  top: 0%;
  margin-left: -474px; /*half the width*/}
.slideUp{-webkit-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);}
.headroom--top{position:relative;background-color: white;}
.headroom--not{color:white;}
#wpshower_adplace-13 img{border: 1px solid #444; padding:3px;}

.header-middle{position: relative;height: 101px;margin-bottom: 0}

.datum{font-size:1.1em; color:#444;margin-left:-443px;display: inline;}

.live{float: left;
padding-top: 6px;
text-transform: uppercase;
color: #bb1732;
font-weight: bold;

padding: 6px 3px 0 6px;}

#weather {
	height: 50px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  float:left;
}

#weather h2 {
  margin: 0 0 5px;
  color: #444;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  /*text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);*/
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 10px;
}


@font-face {
    
    font-family: 'weather';
    src: url('fonts/artill_clean_icons-webfont.eot');
    src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;


    font-weight: normal;
    font-style: normal;
}

i {
  color: #444;
  font-family: weather;
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  /*line-height: 1.0;*/
  float: left;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
